@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Work+Sans:wght@400;600&display=swap');
/*=======================================*/
/*------------ [_Reset_Styles] -----------*/
/*========================================*/
*,
::before,
::after{
    box-sizing: border-box;
}


/*========================================*/
/*--------------- [_Utility] -------------*/
/*========================================*/

body{
    max-width: 100vw;
    height: auto;
    margin: 0 auto;
    border-left: 40px #00AEFF solid;
    font-style: normal;
    background: url(assets/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0.993);
}

p{
    font-family: 'Raleway', sans-serif;
    margin: 6px 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

strong{
    font-weight: 700;
}

img {
    border: none;
    max-width: 100vw;
    background-size: cover;
    background-position: center;
}

span{
    color: #00AEFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
}

a{
    text-decoration: none;
    color: #000;
    opacity: 0.5;
}

a:hover{
    color: #00AEFF;
}
/*========================================*/
/*--------------- [Main body] -------------*/
/*========================================*/

.main__body{
    height: 100vh;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logos{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.header__link a{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    /* line-height: 32px; */
    letter-spacing: 0em;
}

.logo__one img, .logo__two img, .logo__three img{
    width: 100px;
    height: 30px;
}

/* First Layer */

.first__layer{
    margin: 3rem 0 ;
}

.first__layer h3{
    font-size: 36px;
    font-weight: 400;
    /* line-height: 30px; */
    letter-spacing: 0em;
}

.first__layer h1{
    font-size: 72px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: 0em;
    margin-top: 2rem;
}

.first__layer p{
    font-size: 20px;
    width: 800px;
    letter-spacing: 0em;
}


/* SECOND LAYER */
.second__layer{
    margin-bottom: 1rem ;
}

.second__layer img{
    width: 140px;
}
.second__layer h5{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0em;
}

.second__layer h6{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0em;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    body{
        border-left: 20px #00AEFF solid;
    }

    .main__body{
        height: auto;
        overflow: hidden;
    }

    header{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }



    .header__logos{
        width: 250px;
    }
     
    .logo__one img, .logo__two img, .logo__three img{
        width: 60px;
        height: 30px;
    }

    .header__link a p{
        font-size: 16px;
        line-height: 24px;
        width: auto;
    }

    /* FIRST LAYER */
    .first__layer{
        margin: 1.37rem 0;
    }

    .first__layer h3{
        font-size: 24px;
    }

    .first__layer h1{
        font-size: 60px;
        margin-top: 0;
    }

    .first__layer p{
        width: auto;
        font-size: 16px;
    }

    /* SECOND LAYER */
    .second__layer img{
        width: 100px;
    }
    .second__layer h5{
        font-size: 24px;
    }

    .second__layer h6{
        font-size: 16px;
    }
}

@media only screen and (min-width:768px) and (max-width:900px) {
    
    .main__body{
        height: auto;
        overflow: hidden;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .header__logos{
        width: 260px;
    }
     
    .logo__one img, .logo__two img, .logo__three img{
        width: 80px;
        height: 30px;
    }

    .header__link a p{
        width: 600px;
        font-size: 18px;
    }

    .first__layer p {
        width: 650px;
    }
}